.second {
  font-size: 50px;
  background-color: #777171a4;
  text-align: center;
  height: 130vh;
  width: 100%;
}
.second-two {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.img {
  padding: 60px;

  width: 30%;
}
.img-on {
  width: 30%;
  height: 60vh;
  margin-top: -240px;
  margin-left: 800px;
}
